
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

 body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
   
 }

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 3px solid black;
    animation: colors 3s linear  infinite;
 
}

@keyframes colors {

    0%{
        
       border-bottom: 3px solid rgba(0, 119, 255, 0.705);
        

    }

    50%{

        border-bottom: 3px solid rgb(180, 102, 180);

    }

    100%{
        border-bottom: 3px solid green;
    }
    
}

nav img{
    width: 69px;
    height: 30px;

}

ul{
    display: flex;
    gap: 1rem;
    list-style: none;

}

li a{
    text-decoration: none;
    color: gray;
    font-size: 1.1rem;
}


.fa-bars{
    display: none;
}

/* another component */


.hero{
 padding: 5rem 1rem 1rem 1rem; 
 position: relative; 
 display: flex;
 flex-direction: row;
 justify-content: space-around;

}

.hero p{
    font-size: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    max-width: 500px;

}

.hero input{
    padding: 4px;
    width: 170px;

}

.hero button{
    background-color: rgba(0, 119, 255, 0.705);
    color: white;
    width: 140px;
    padding: 5px;
    border: none;
    border-radius: 9px;
}

.hero img{
    
    width: 400px;
    height: 240px;

}

/* another component */

.body{
    padding-top: 10rem;
    position: relative;
    padding: 1rem;
    background-image: url(bg-curve-desktop.svg); 

    

}

.body h2{
    padding-bottom: 1rem;
}

.body p{
    font-size: 1rem;
    max-width: 500px;
    

}

.body .green{
    display: flex;
    color: rgb(16, 98, 71);
    font-size: 1rem;
    padding: 0.5rem 0;
    

}

.body .arrow{
    width: 35px;
    margin-top: -6px;
  
}


.body .illustration{
    position: absolute;
    right: 1rem;
    width: 400px;
    height: 240px;
    top: 12rem;
    background-color: rgba(243, 165, 250, 0.062);

}

.testimony{
    margin: 1rem 0;
    border: 0px solid #333;
    padding: 1.2rem;
    max-width: 400px;
    height: auto;
    box-shadow: 3px 9px 20px 6px rgb(200, 198, 198);
    border-radius: 7px;
    margin: 1rem;
    background-color: white;

}
.testimony p{
    font-size: 1rem;
    line-height: 1.8rem;
}


.avatar img{
    width: 40px;
    border-radius: 50%;
}


/* Styling for the get aerly access section */
.footer{
    display: flex;
    padding: 2rem 0;
    justify-content: space-around;
    background-color: #54417b86;
    margin-top: 3rem;

}

.left {
    color: white;

}

.left p{
    font-size: 1rem;
    padding: 1rem 0;
   max-width: 350px;
   line-height: 1.2rem;

} 

.right{
    display: grid;
    gap: 1rem;
}

.right input{
    width: 300px;
    padding: 7px;
    background: transparent;
    border-radius: 10px;
    border: 5px solid black;
  
}

.right button{
    max-width: 150px;
    background-color:  rgba(0, 119, 255, 0.705);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 9px;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem 2rem 2rem;
    background-color: #150050a9;   

}

.first{
 display: grid; 
}

footer .first img{
    width: 70px; 
    margin-top: -2rem;
   
}


.second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
    row-gap: 7px;
  
}

.second a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

}



.third{
    display: flex;
    gap: 1rem;
    padding-right: 7rem;

}

.third a{
    text-decoration: none;
    color: white;
}

.facebook{
    font-weight: 800;
    font-size: 1.4rem;
    border: 1px solid #fff ;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;

}

.twitter{
    border: 1px solid #fff ;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    align-items: center;
    
    
    
}


.instagram{
    border: 1px solid #fff ;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


/* Media query */

@media screen and (max-width:870px){

    
    .testimony{
        max-width: 300px;
        position: relative;
        z-index: 1;
    }
}

/* media query 2 */
@media screen and (max-width:765px){


    .body .illustration{
        width: 350px;


    }

}

/* media query 3 */
@media screen and (max-width:690px){

   
/* nav */


/* hero section */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
}

.body{
   text-align: center;
}
.testimony{
    margin: 1rem auto;


}

.illustration{
    display: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer button{
    margin: 0 auto;

}

footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.third{
    padding-right: 0rem;
}
}


/* media query */

@media screen and (max-width: 500px ) {

    nav{
        position: fixed;
        width: 100%;
        z-index: 2;
        background-color: white;
    }

    .fa-bars{
        display: block;
    
    }

    li{
        display: none;
    }


    .hero img{
        width: 280px


    }

    .testimony{
        width: 60%;
    }
    
}